################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/bin/Debug/netcoreapp3.1
/DesignPatterns/obj
